h2 {
    text-align: center;
    color: whitesmoke;
    font-size: 10em;
}

body {
    background-color: rgb(34, 66, 124);
}

h4 {
    text-align: center;
    color: whitesmoke;
    font-size: 2em;
    padding-left: 20%;
    padding-right: 20%
}