h2 {
    text-align: center;
    color: black;
    font-size: 10em;
    background-image: url(fusee.jpg);
}

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Bebas Neue', cursive;
}

h4 {
    text-align: center;
    color: black;
    font-size: 2em;
    padding-left: 20%;
    padding-right: 20%
}